<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <%- include ('templates/header') %>
  </head>
  <body>
    <%- include ('templates/navbar') %>
    <h1>Hello World!</h1>
    <%- include ('templates/footer') %>
  </body>
</html>